* {
	box-sizing: border-box;
}
.wrapper {
	text-align: center;
}
body {
	font-family: 'Lato', sans-serif;
	color:#505D6B;
	text-align: center;
	background: #F7F9FA; 
	margin: 0;
}
header {
	background: #F3F3F3;
	padding: 25px 25px;
	/*border: solid 1px tomat;*/
/*display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: center;*/

}
/*Portfolio img*/
img[alt^="Portfolio-example"] {
	height: 230px;
	max-width: 75%;
	margin: 20px auto;
}
/*top-nav-bar*/
h1 {
	margin-top: 0;
	margin-left: 40px;
	font-size: 2.369em;
}
h2 {
	font-size:1.777em;
}
.foot-nav a, .nav a{
	text-decoration: none;
	color:#505D6B;
	text-transform: uppercase;
	font-size: 1.1em;
	letter-spacing: .1em;
	font-weight: bold;
	cursor: pointer;
}
a:hover {
	color:#507A6B ;
}
a:active {
	color: teal;
}
.nav li, .foot-nav {
	list-style-type: none;
	border: 1px solid #F7F9FA;
	margin-bottom: 10px;
	padding:5px;
	background: white;
}
.main-nav {
	max-width: 70%;
	margin: 0 auto ;
}

/*Portfolio */
img[src*="portfolio"] {
	height: 100%;
	width: 80%;
	margin: 0 auto;
	display: block;
}

hr {
	border:0.5px solid; width: 80%;
}
/*Footer nav-bar*/

h3 {
	text-transform: uppercase;
	letter-spacing: .1em;
}


h3 + p {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 1.25em;
}

h4 a {
	text-decoration: none;
	color:#505D6B ;
}
main {
	margin-bottom: 50px;
}
footer {
	padding-top: 20px;
	margin-top: -20px;
	background: #F3F3F3;
}

img[src*="portfolio"] {
	height: 200px;
	width: 350px;
	margin: 0 auto;
		/*display: block;
	*/	}

	.skills-wrap {
	width: 80%;
	text-align: center;
	font-size: 1.1em;
	margin: 55px auto;
}

	@media(max-width: 767px) {
		.foot-nav {
			display:none;
		}
		.contact {
			display: flex;
			justify-content: space-between;
			width: 80%;
			margin: 0 auto;


		}

		.contact-item:nth-child(2) {
			margin-left: 200px;
		}
	}


	/*media queries*/

	@media(min-width:768px) {
		.nav, .intro, .nav, .foot-nav, .foot-nav-cont, .contact{
			display: flex;
		}

		.nav, .foot-nav {
			justify-content: space-around;
		}


		img[alt*="Portfolio"] {
			order:1;
		}

		.intro p {
			font-size: 1.35em;
			padding: 10px;
		}


		.port-container {
			display: flex;
			align-items: flex-start;
			justify-content: space-around;
			flex-wrap: wrap;
			flex-direction: row;		
		}
		.p-contain-item  {
			/*flex-grow: 1;*/
			/*border:1px solid teal;*/
			width: 50%;
			padding: 10px;
		}
		h3 + p {
			font-family: 'Open Sans Condensed', sans-serif;
			font-size: 1.45em;
			max-width: 700px;
			margin: 0 auto;
		}

		h4  a[href*="#home"] {
			border: solid 2px teal;
			display: none;
		}
		h4 {
			font-size: 1.3em;
			margin-left: 20px;
		}
		.foot-nav-item:not(:nth-child(4)){
			margin-right: 30px;

		}
		.contact {
			justify-content: space-around;
			align-items: center;
		}
		.foot-nav {
			background: inherit;
			border: none;
		}

	}

	/*!2nd Media Querry!!*/

	@media(min-width:1024px) {
		body {

		}

		.nav, .intro, .main-head, .main-nav {
			display: flex;
		}

		.main-head {
			justify-content:space-between;
			/*border:1px solid red;*/
		}
		.main-nav {
			max-width: 70%;
			margin: 0;
		}
		.nav, .footer-main {
			/*border: 1px solid teal;*/
			width:100%;
			justify-content: space-around;
		}

		.intro p {
			font-size: 1.65em;
			padding: 10px;
		}


		/*Img area*/
		.port-container {

			display: flex;
			align-items: flex-start;
			justify-content: space-around;
			flex-wrap: wrap;
			flex-direction: row;

		}

		.p-contain-item  {
			width:380px;
			padding: 10px;
			flex-shrink: 1;

		}
		h3 + p {
			font-family: 'Open Sans Condensed', sans-serif;
			font-size: 1.85em;
			max-width: 700px;
			margin: 0 auto;
		}

		.nav li {
			margin: auto 10px;
		}

		.skills-wrap {
			width:60%;
		}

	}

@media(min-width:1200px ) {

.port-container {

max-width: 1200px;
margin: 0 auto;
}
}
































