* {
	box-sizing: border-box;
}

body {
	font-family: 'Lato', sans-serif;
	color:#505D6B;
	text-align: center;
	background: #F7F9FA; 
	margin: 0;
}
header {
background: #F3F3F3;
padding: 25px 25px;
/*border: solid 1px tomat;*/
/*display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: center;*/

}
/*Portfolio img*/
img[alt^="Portfolio-example"] {
	height: 230px;
	max-width: 75%;
	margin: 20px auto;
}
/*top-nav-bar*/
h1 {
	margin-top: 0;
	margin-left: 40px;
	font-size: 2.369em;
}
.nav a{
	text-decoration: none;
	color:#505D6B;
	text-transform: uppercase;
	font-size: 1.1em;
	letter-spacing: .1em;
	font-weight: bold;
	cursor: pointer;
}
a:hover {
	color:#507A6B ;
}
a:active {
	color: teal;
}
.nav li {
	list-style-type: none;
	border: 1px solid #F7F9FA;
	margin-bottom: 10px;
	padding:5px;
	background: white;
}
.main-nav {
	max-width: 70%;
	margin: 0 auto ;
}

/*Portfolio */
img[src*="portfolio"] {
	height: 100%;
	width: 80%;
	margin: 0 auto;
	display: block;
}


/*Footer nav-bar*/

h3 {
	text-transform: uppercase;
	letter-spacing: .1em;
}


.contact {
	display: flex;
	justify-content: space-between;
}

h3 + p {
font-family: 'Open Sans Condensed', sans-serif;
font-size: 1.25em;
}

h4 a {
	text-decoration: none;
	color:#505D6B ;
}
main {
	margin-bottom: 50px;
}
footer {
	padding-top: 20px;
	margin-top: -20px;
	background: #F3F3F3;
}



/*media queries*/

@media(min-width:768px) {
	.nav, .intro {
		display: flex;
	}
	.nav {
		justify-content: space-between;
	}

	.nav li {
		flex-grow: 1;
	}

	img[alt*="Portfolio"] {
		order:1;
	}

	.intro p {
		font-size: 1.35em;
		padding: 10px;
	}
	img[src*="portfolio"] {
		height: 200px;
		width: 350px;
		margin: 0 auto;
		display: block;
	}

	.port-container {
		max-width: 800px;
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		flex-wrap: wrap;
		margin: 0 auto;
		align-content: flex-start;
	}
	.p-contain-item  {
		flex-grow: 1;
		/*border:1px solid teal;*/
		max-width: 380px;
		padding: 10px;
	}
	h3 + p {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 1.45em;
	max-width: 700px;
	margin: 0 auto;
	}

}
/*!2nd Media Querry!!*/

@media(min-width:1024px) {

.nav, .intro, .main-head {
	display: flex;
}

img[alt*="Portfolio"] {
	order:1;
}

.intro p {
	font-size: 1.65em;
	padding: 10px;
}
img[src*="portfolio"] {
	height: 200px;
	width: 350px;
	margin: 0 auto;
	display: block;
}

.port-container {
	min-width: 1100px;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 0 auto;
	align-content: flex-start;
}
.p-contain-item  {
	flex-grow: 2;
	/*border:1px solid teal;*/
	max-width: 350px;
	padding: 10px;
}
h3 + p {
font-family: 'Open Sans Condensed', sans-serif;
font-size: 1.85em;
max-width: 700px;
margin: 0 auto;
}

.nav li {
margin: auto 10px;
}

}
































