* {
	box-sizing: border-box;
}
.wrapper {
	text-align: center;
}
body {
	font-family: 'Lato', sans-serif;
	color:#505D6B;
	text-align: center;
	background: #F7F9FA;
	margin: 0 0;
	width: fit-content;
}

.main-head  {
	display: flex;
	flex-direction: column;
	justify-content: center;
	/* align-items: center; */
}
header {
	background: #F3F3F3;

}

/*top-nav-bar*/
h1 {
	margin: 0 auto;
	/*margin-left: 40px;*/
	font-size: 2.369em;
}
h2 {
	font-size:1.777em;
}
.nav {
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 0
	/* align-content: center; */

}

.foot-nav a, .nav a{
	text-decoration: none;
	color:#F7F9FA;
	text-transform: uppercase;
	font-size: 1.1em;
	letter-spacing: .1em;
	font-weight: bold;
	cursor: pointer;
}
a:hover {
	color:rgba(253, 203, 92, .8) ;
}
a:active {
	letter-spacing: .2em;
}
.nav li, .foot-nav li{
	list-style-type: none;
	margin-bottom: 10px;
	padding:5px;

}
.nav li {
	background: rgba(25, 25, 25, .256);
	padding:10px 0;
	border-radius: 6px;
}
.foot-nav li {
	padding:0 8px;

}
.foot-nav li a {
	color:#505D6B;
}

.main-nav {
	width: 70%;
	margin: 0 auto ;

}

/*Portfolio */
.p-contain-item {
	padding: 20px;
}
img[src*="portfolio"] {
	height: 100%;
	width: 100%;
	margin: 0 auto;
	display: block;
}

hr {
	border:0.5px solid; width: 80%;
}
/*Footer nav-bar*/

h3 {
	text-transform: uppercase;
	letter-spacing: .1em;
}


h3 + p {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 1.25em;
}

h4 a {
	text-decoration: none;
	color:#505D6B ;
}
main {
	margin-bottom: 50px;
}
footer {
	padding-top: 20px;
	margin-top: -20px;
	background: #F3F3F3;
}

img[src*="portfolio"] {
	/*!!!!T_T_H_F_B*/
	/*	height: 200px;
	max-width: 350px;*/
	/* margin: 0; */
	/*display: block;
	*/
}

.skills-wrap {
	width: 80%;
	text-align: center;
	font-size: 1.1em;
	margin: 55px auto;
}

@media(max-width: 767px) {
	.foot-nav {
		display:none;
	}
	.contact {
		display: flex;
		justify-content: space-between;
		width: 80%;
		margin: 0 auto;


	}

	.contact-item:nth-child(2) {
		margin-left: auto;
	}
}


/*media queries*/

@media(min-width:768px) {

	header {
		padding-top: 60px;
	}
	h1 {
		margin-bottom: 20px;
	}
	.nav, .intro, .nav, .foot-nav, .foot-nav-cont, .contact{
		display: flex;
		/* align-items: center; */
	}
	.intro {
		padding: 9px 11px 37px;
	}

	.nav, .foot-nav {
		flex-direction: row;
		-ms-align-items: center;
		justify-content: space-around;
		-ms-align-items: center;
		align-items: center;
	}

	.nav li {
		padding: 3px 15px;
	}

	img[alt*="Portfolio"] {
		order:1;
	}

	.intro p {
		font-size: 1.35em;
		padding: 10px;
	}


	.port-container {
		display: flex;
		align-items: flex-start;
		justify-content: space-around;
		flex-wrap: wrap;
		flex-direction: row;		
	}
	.p-contain-item  {
		width: 50%;
		padding: 10px;
	}
	h3 + p {
		font-family: 'Open Sans Condensed', sans-serif;
		font-size: 1.45em;
		max-width: 700px;
		margin: 0 auto;
	}

	h4  a[href*="#home"] {
		border: solid 2px teal;
		display: none;
	}
	h4 {
		font-size: 1.3em;
		margin-left: 20px;
	}
	.foot-nav-item:not(:nth-child(4)){
		margin-right: 30px;

	}
	.contact {
		justify-content: space-around;
		align-items: baseline;
	}
	.foot-nav {
		background: inherit;
		border: none;
	}

}

/*!2nd Media Querry!!*/

@media(min-width:1024px) {

	.main-head {
		flex-direction: row;
		justify-content: space-between;
	}
	.intro p {
		font-size: 1.65em;
		padding: 10px;
	}

	.nav {
		justify-content: flex-end;
	}

	.p-contain-item  {
		/*width:33.3%;*/
		flex:0 340px;
		padding: 10px;			

	}
	h3 + p {
		font-family: 'Open Sans Condensed', sans-serif;
		font-size: 1.85em;
		max-width: 700px;
		margin: 0 auto;
	}

	.nav li {
		margin: auto 10px;
	}

	.skills-wrap {
		width:60%;
	}

}

@media(min-width:1200px ) {

	.port-container {

		max-width: 1200px;
		margin: 0 auto;
	}
}
































